<!-- list of granularity scale -->
<span style="display:inline-block; height: 10px;"><a href="#" ng-click="reset()" ng-show="selectedGranularities.values().length > 0">zur&uuml;cksetzen</a></span>
<div class="granularities granularities-max-size-{{maxItemSize}}" data-ng-class="orientation">
    <div data-ng-class="{true: 'granularity-line'}[withLine]"></div>
    <ul class="no-column-count">
        <li class="granularity-container"  data-ng-repeat="item in geographicalGranularity">
                <div class="granularity-bubble granularity-size-{{item.size}}" data-ng-click="selectGranularity(item)" data-ng-class="{true :'active', false: 'inactive'}[item.active]">
                    <span class="granularity-elements">{{item.elements}}</span>
                </div>
                <div  data-ng-click="selectGranularity(item)" class="granularity-title granularity-title-intent-{{item.size}}">
                    {{item.name}}
                </div>
        </li>
    </ul>
</div>
