// variable
@base-color: #000;
@background-color: #fff;
@primary-color: #000;
@secondary-color: #7f99b2;
@primary-color-hover: #99CC00;
@secondary-color-hover: #608000;


// granularity
@base-margin: 10px;

@bubble-base-size: 50px;
@granularity-number-width: 24px;
@granularity-number-height: 20px;

@granularity-title-maxwidth: 90px;

@granularity-vertical-height: 310px;
@granularity-horizontal-width: @granularity-vertical-height;

@granularity-width: @granularity-title-maxwidth + 5*@bubble-base-size;

@fontfamily-monospace: 'monospace';