@import "variables.less";
@import "mixins.less";
@import "geographicalgranularity_widget/geographicalgranularity.less";
@import "category_widget/category.less";
@import "date_widget/date.less";
@import "lastmodification_widget/lastmodification.less";
@import "map_widget/map.less";
@import "result_widget/result.less";

body {
//      background-image: url("http://www.geocities.ws/dopeycodes/backgrounds/stars-bb.gif");
//      background-repeat: repeat;
//      font-family: "Comic Sans","Comic Sans MS","Chalkboard","ChalkboardSE-Regular","Marker Felt","Purisa","URW Chancery L",cursive,sans-serif;
}

.row .widget-container {
  padding-left: 15px;
}

.widget-container {
  background: rgba(250, 250, 210, 0.3);
  border: 1px dashed crimson;
}
