/* category */
/* map */
/* result */
.granularities {
  position: relative;
  overflow: hidden;
}
.granularities ul {
  padding: 0px;
  margin: 0px;
}
.horizontal ul:before,
.horizontal ul:after {
  content: " ";
  display: table;
}
.horizontal ul:after {
  clear: both;
}
.horizontal .granularity-container {
  float: left;
}
.granularity-line {
  position: absolute;
  border: 2px solid #7f7f7f;
}
.horizontal .granularity-line {
  height: 2px;
  width: 310px;
}
.vertical.granularities {
  width: 340px;
}
.vertical .granularity-line {
  height: 310px;
  width: 2px;
}
.vertical .granularity-container {
  position: relative;
  margin-bottom: 10px;
}
.vertical .granularity-container:last-child {
  margin-bottom: 0px;
}
.vertical .granularity-container:before,
.vertical .granularity-container:after {
  content: " ";
  display: table;
}
.vertical .granularity-container:after {
  clear: both;
}
.granularity-container {
  list-style-type: none;
}
.granularity-container:hover .granularity-bubble.inactive {
  border-color: #1f77b4;
}
.granularity-container:hover .granularity-title {
  color: #1f77b4;
}
.granularity {
  margin: 0px auto;
}
.granularity-bubble {
  margin: 0px auto;
  border: 2px solid;
  cursor: pointer;
}
.granularity-bubble.active {
  border-color: #7f7f7f;
  background-color: #1f77b4;
  color: #ffffff;
}
.granularity-bubble.inactive {
  border-color: #7f7f7f;
  background-color: #ffffff;
  color: #7f7f7f;
}
.granularity-title {
  position: absolute;
  width: 90px;
  cursor: pointer;
}
.granularity-elements {
  display: block;
  position: relative;
  width: 100%;
  height: 20px;
  font-family: 'monospace';
  text-align: center;
  vertical-align: middle;
}
div .granularities-max-size-1.vertical .granularity-line {
  left: 10.5px;
}
div .granularities-max-size-1.vertical .granularity-container {
  width: 25px;
}
div .granularities-max-size-1.vertical .granularity-title {
  right: -45px;
}
div .granularities-max-size-1.horizontal .granularity-line {
  top: 10.5px;
}
div .granularities-max-size-1.horizontal .granularity-container {
  margin-right: 10px;
}
div .granularities-max-size-1.horizontal .granularity-title {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
div .granularities-max-size-1.horizontal.granularities {
  height: 130px;
}
div .granularities-max-size-1.horizontal li .granularity-size-1 {
  margin-top: 0px;
}
div .granularities-max-size-1.horizontal li .granularity-size-0 {
  margin-top: 0px;
}
div .granularities-max-size-1.horizontal li .granularity-size-2 {
  margin-top: -12.5px;
}
div .granularities-max-size-1.horizontal li .granularity-size-0 {
  margin-top: 0px;
}
div .granularities-max-size-1.horizontal li .granularity-size-3 {
  margin-top: -25px;
}
div .granularities-max-size-1.horizontal li .granularity-size-0 {
  margin-top: 0px;
}
div .granularities-max-size-1.horizontal li .granularity-size-4 {
  margin-top: -37.5px;
}
div .granularities-max-size-1.horizontal li .granularity-size-0 {
  margin-top: 0px;
}
div .granularities-max-size-1.horizontal li .granularity-size-5 {
  margin-top: -50px;
}
div .granularities-max-size-1.horizontal li .granularity-size-0 {
  margin-top: 0px;
}
div .granularities-max-size-1.horizontal li .granularity-size-6 {
  margin-top: -62.5px;
}
div .granularities-max-size-1.horizontal li .granularity-size-0 {
  margin-top: 0px;
}
div .granularities-max-size-1.horizontal li .granularity-size-7 {
  margin-top: -75px;
}
div .granularities-max-size-1.horizontal li .granularity-size-0 {
  margin-top: 0px;
}
div .granularities-max-size-1.horizontal li .granularity-size-8 {
  margin-top: -87.5px;
}
div .granularities-max-size-1.horizontal li .granularity-size-0 {
  margin-top: 0px;
}
div .granularities-max-size-1.horizontal li .granularity-size-9 {
  margin-top: -100px;
}
div .granularities-max-size-1.horizontal li .granularity-size-0 {
  margin-top: 0px;
}
div .granularities-max-size-1.horizontal li .granularity-size-10 {
  margin-top: -112.5px;
}
div .granularities-max-size-1.horizontal li .granularity-size-0 {
  margin-top: 0px;
}
div .granularity-size-1 {
  position: relative;
  width: 25px;
  height: 25px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
div .granularity-size-1 .granularity-elements {
  top: 2px;
}
div .granularity-title-intent-1 {
  top: 2.5px;
}
div .horizontal .granularity-title-intent-1 {
  width: 25px;
  top: 90px;
}
div .granularities-max-size-2.vertical .granularity-line {
  left: 23px;
}
div .granularities-max-size-2.vertical .granularity-container {
  width: 50px;
}
div .granularities-max-size-2.vertical .granularity-title {
  right: -70px;
}
div .granularities-max-size-2.horizontal .granularity-line {
  top: 23px;
}
div .granularities-max-size-2.horizontal .granularity-container {
  margin-right: 10px;
}
div .granularities-max-size-2.horizontal .granularity-title {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
div .granularities-max-size-2.horizontal.granularities {
  height: 155px;
}
div .granularities-max-size-2.horizontal li .granularity-size-1 {
  margin-top: 12.5px;
}
div .granularities-max-size-2.horizontal li .granularity-size-0 {
  margin-top: 12.5px;
}
div .granularities-max-size-2.horizontal li .granularity-size-2 {
  margin-top: 0px;
}
div .granularities-max-size-2.horizontal li .granularity-size-0 {
  margin-top: 12.5px;
}
div .granularities-max-size-2.horizontal li .granularity-size-3 {
  margin-top: -12.5px;
}
div .granularities-max-size-2.horizontal li .granularity-size-0 {
  margin-top: 12.5px;
}
div .granularities-max-size-2.horizontal li .granularity-size-4 {
  margin-top: -25px;
}
div .granularities-max-size-2.horizontal li .granularity-size-0 {
  margin-top: 12.5px;
}
div .granularities-max-size-2.horizontal li .granularity-size-5 {
  margin-top: -37.5px;
}
div .granularities-max-size-2.horizontal li .granularity-size-0 {
  margin-top: 12.5px;
}
div .granularities-max-size-2.horizontal li .granularity-size-6 {
  margin-top: -50px;
}
div .granularities-max-size-2.horizontal li .granularity-size-0 {
  margin-top: 12.5px;
}
div .granularities-max-size-2.horizontal li .granularity-size-7 {
  margin-top: -62.5px;
}
div .granularities-max-size-2.horizontal li .granularity-size-0 {
  margin-top: 12.5px;
}
div .granularities-max-size-2.horizontal li .granularity-size-8 {
  margin-top: -75px;
}
div .granularities-max-size-2.horizontal li .granularity-size-0 {
  margin-top: 12.5px;
}
div .granularities-max-size-2.horizontal li .granularity-size-9 {
  margin-top: -87.5px;
}
div .granularities-max-size-2.horizontal li .granularity-size-0 {
  margin-top: 12.5px;
}
div .granularities-max-size-2.horizontal li .granularity-size-10 {
  margin-top: -100px;
}
div .granularities-max-size-2.horizontal li .granularity-size-0 {
  margin-top: 12.5px;
}
div .granularity-size-2 {
  position: relative;
  width: 50px;
  height: 50px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
div .granularity-size-2 .granularity-elements {
  top: 15px;
}
div .granularity-title-intent-2 {
  top: 15px;
}
div .horizontal .granularity-title-intent-2 {
  width: 50px;
  top: 102.5px;
}
div .granularities-max-size-3.vertical .granularity-line {
  left: 35.5px;
}
div .granularities-max-size-3.vertical .granularity-container {
  width: 75px;
}
div .granularities-max-size-3.vertical .granularity-title {
  right: -95px;
}
div .granularities-max-size-3.horizontal .granularity-line {
  top: 35.5px;
}
div .granularities-max-size-3.horizontal .granularity-container {
  margin-right: 10px;
}
div .granularities-max-size-3.horizontal .granularity-title {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
div .granularities-max-size-3.horizontal.granularities {
  height: 180px;
}
div .granularities-max-size-3.horizontal li .granularity-size-1 {
  margin-top: 25px;
}
div .granularities-max-size-3.horizontal li .granularity-size-0 {
  margin-top: 25px;
}
div .granularities-max-size-3.horizontal li .granularity-size-2 {
  margin-top: 12.5px;
}
div .granularities-max-size-3.horizontal li .granularity-size-0 {
  margin-top: 25px;
}
div .granularities-max-size-3.horizontal li .granularity-size-3 {
  margin-top: 0px;
}
div .granularities-max-size-3.horizontal li .granularity-size-0 {
  margin-top: 25px;
}
div .granularities-max-size-3.horizontal li .granularity-size-4 {
  margin-top: -12.5px;
}
div .granularities-max-size-3.horizontal li .granularity-size-0 {
  margin-top: 25px;
}
div .granularities-max-size-3.horizontal li .granularity-size-5 {
  margin-top: -25px;
}
div .granularities-max-size-3.horizontal li .granularity-size-0 {
  margin-top: 25px;
}
div .granularities-max-size-3.horizontal li .granularity-size-6 {
  margin-top: -37.5px;
}
div .granularities-max-size-3.horizontal li .granularity-size-0 {
  margin-top: 25px;
}
div .granularities-max-size-3.horizontal li .granularity-size-7 {
  margin-top: -50px;
}
div .granularities-max-size-3.horizontal li .granularity-size-0 {
  margin-top: 25px;
}
div .granularities-max-size-3.horizontal li .granularity-size-8 {
  margin-top: -62.5px;
}
div .granularities-max-size-3.horizontal li .granularity-size-0 {
  margin-top: 25px;
}
div .granularities-max-size-3.horizontal li .granularity-size-9 {
  margin-top: -75px;
}
div .granularities-max-size-3.horizontal li .granularity-size-0 {
  margin-top: 25px;
}
div .granularities-max-size-3.horizontal li .granularity-size-10 {
  margin-top: -87.5px;
}
div .granularities-max-size-3.horizontal li .granularity-size-0 {
  margin-top: 25px;
}
div .granularity-size-3 {
  position: relative;
  width: 75px;
  height: 75px;
  border-top-right-radius: 75px;
  border-top-left-radius: 75px;
  border-bottom-right-radius: 75px;
  border-bottom-left-radius: 75px;
}
div .granularity-size-3 .granularity-elements {
  top: 27px;
}
div .granularity-title-intent-3 {
  top: 27.5px;
}
div .horizontal .granularity-title-intent-3 {
  width: 75px;
  top: 115px;
}
div .granularities-max-size-4.vertical .granularity-line {
  left: 48px;
}
div .granularities-max-size-4.vertical .granularity-container {
  width: 100px;
}
div .granularities-max-size-4.vertical .granularity-title {
  right: -120px;
}
div .granularities-max-size-4.horizontal .granularity-line {
  top: 48px;
}
div .granularities-max-size-4.horizontal .granularity-container {
  margin-right: 10px;
}
div .granularities-max-size-4.horizontal .granularity-title {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
div .granularities-max-size-4.horizontal.granularities {
  height: 205px;
}
div .granularities-max-size-4.horizontal li .granularity-size-1 {
  margin-top: 37.5px;
}
div .granularities-max-size-4.horizontal li .granularity-size-0 {
  margin-top: 37.5px;
}
div .granularities-max-size-4.horizontal li .granularity-size-2 {
  margin-top: 25px;
}
div .granularities-max-size-4.horizontal li .granularity-size-0 {
  margin-top: 37.5px;
}
div .granularities-max-size-4.horizontal li .granularity-size-3 {
  margin-top: 12.5px;
}
div .granularities-max-size-4.horizontal li .granularity-size-0 {
  margin-top: 37.5px;
}
div .granularities-max-size-4.horizontal li .granularity-size-4 {
  margin-top: 0px;
}
div .granularities-max-size-4.horizontal li .granularity-size-0 {
  margin-top: 37.5px;
}
div .granularities-max-size-4.horizontal li .granularity-size-5 {
  margin-top: -12.5px;
}
div .granularities-max-size-4.horizontal li .granularity-size-0 {
  margin-top: 37.5px;
}
div .granularities-max-size-4.horizontal li .granularity-size-6 {
  margin-top: -25px;
}
div .granularities-max-size-4.horizontal li .granularity-size-0 {
  margin-top: 37.5px;
}
div .granularities-max-size-4.horizontal li .granularity-size-7 {
  margin-top: -37.5px;
}
div .granularities-max-size-4.horizontal li .granularity-size-0 {
  margin-top: 37.5px;
}
div .granularities-max-size-4.horizontal li .granularity-size-8 {
  margin-top: -50px;
}
div .granularities-max-size-4.horizontal li .granularity-size-0 {
  margin-top: 37.5px;
}
div .granularities-max-size-4.horizontal li .granularity-size-9 {
  margin-top: -62.5px;
}
div .granularities-max-size-4.horizontal li .granularity-size-0 {
  margin-top: 37.5px;
}
div .granularities-max-size-4.horizontal li .granularity-size-10 {
  margin-top: -75px;
}
div .granularities-max-size-4.horizontal li .granularity-size-0 {
  margin-top: 37.5px;
}
div .granularity-size-4 {
  position: relative;
  width: 100px;
  height: 100px;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
}
div .granularity-size-4 .granularity-elements {
  top: 40px;
}
div .granularity-title-intent-4 {
  top: 40px;
}
div .horizontal .granularity-title-intent-4 {
  width: 100px;
  top: 127.5px;
}
div .granularities-max-size-5.vertical .granularity-line {
  left: 60.5px;
}
div .granularities-max-size-5.vertical .granularity-container {
  width: 125px;
}
div .granularities-max-size-5.vertical .granularity-title {
  right: -145px;
}
div .granularities-max-size-5.horizontal .granularity-line {
  top: 60.5px;
}
div .granularities-max-size-5.horizontal .granularity-container {
  margin-right: 10px;
}
div .granularities-max-size-5.horizontal .granularity-title {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
div .granularities-max-size-5.horizontal.granularities {
  height: 230px;
}
div .granularities-max-size-5.horizontal li .granularity-size-1 {
  margin-top: 50px;
}
div .granularities-max-size-5.horizontal li .granularity-size-0 {
  margin-top: 50px;
}
div .granularities-max-size-5.horizontal li .granularity-size-2 {
  margin-top: 37.5px;
}
div .granularities-max-size-5.horizontal li .granularity-size-0 {
  margin-top: 50px;
}
div .granularities-max-size-5.horizontal li .granularity-size-3 {
  margin-top: 25px;
}
div .granularities-max-size-5.horizontal li .granularity-size-0 {
  margin-top: 50px;
}
div .granularities-max-size-5.horizontal li .granularity-size-4 {
  margin-top: 12.5px;
}
div .granularities-max-size-5.horizontal li .granularity-size-0 {
  margin-top: 50px;
}
div .granularities-max-size-5.horizontal li .granularity-size-5 {
  margin-top: 0px;
}
div .granularities-max-size-5.horizontal li .granularity-size-0 {
  margin-top: 50px;
}
div .granularities-max-size-5.horizontal li .granularity-size-6 {
  margin-top: -12.5px;
}
div .granularities-max-size-5.horizontal li .granularity-size-0 {
  margin-top: 50px;
}
div .granularities-max-size-5.horizontal li .granularity-size-7 {
  margin-top: -25px;
}
div .granularities-max-size-5.horizontal li .granularity-size-0 {
  margin-top: 50px;
}
div .granularities-max-size-5.horizontal li .granularity-size-8 {
  margin-top: -37.5px;
}
div .granularities-max-size-5.horizontal li .granularity-size-0 {
  margin-top: 50px;
}
div .granularities-max-size-5.horizontal li .granularity-size-9 {
  margin-top: -50px;
}
div .granularities-max-size-5.horizontal li .granularity-size-0 {
  margin-top: 50px;
}
div .granularities-max-size-5.horizontal li .granularity-size-10 {
  margin-top: -62.5px;
}
div .granularities-max-size-5.horizontal li .granularity-size-0 {
  margin-top: 50px;
}
div .granularity-size-5 {
  position: relative;
  width: 125px;
  height: 125px;
  border-top-right-radius: 125px;
  border-top-left-radius: 125px;
  border-bottom-right-radius: 125px;
  border-bottom-left-radius: 125px;
}
div .granularity-size-5 .granularity-elements {
  top: 52px;
}
div .granularity-title-intent-5 {
  top: 52.5px;
}
div .horizontal .granularity-title-intent-5 {
  width: 125px;
  top: 140px;
}
div .granularities-max-size-6.vertical .granularity-line {
  left: 73px;
}
div .granularities-max-size-6.vertical .granularity-container {
  width: 150px;
}
div .granularities-max-size-6.vertical .granularity-title {
  right: -170px;
}
div .granularities-max-size-6.horizontal .granularity-line {
  top: 73px;
}
div .granularities-max-size-6.horizontal .granularity-container {
  margin-right: 10px;
}
div .granularities-max-size-6.horizontal .granularity-title {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
div .granularities-max-size-6.horizontal.granularities {
  height: 255px;
}
div .granularities-max-size-6.horizontal li .granularity-size-1 {
  margin-top: 62.5px;
}
div .granularities-max-size-6.horizontal li .granularity-size-0 {
  margin-top: 62.5px;
}
div .granularities-max-size-6.horizontal li .granularity-size-2 {
  margin-top: 50px;
}
div .granularities-max-size-6.horizontal li .granularity-size-0 {
  margin-top: 62.5px;
}
div .granularities-max-size-6.horizontal li .granularity-size-3 {
  margin-top: 37.5px;
}
div .granularities-max-size-6.horizontal li .granularity-size-0 {
  margin-top: 62.5px;
}
div .granularities-max-size-6.horizontal li .granularity-size-4 {
  margin-top: 25px;
}
div .granularities-max-size-6.horizontal li .granularity-size-0 {
  margin-top: 62.5px;
}
div .granularities-max-size-6.horizontal li .granularity-size-5 {
  margin-top: 12.5px;
}
div .granularities-max-size-6.horizontal li .granularity-size-0 {
  margin-top: 62.5px;
}
div .granularities-max-size-6.horizontal li .granularity-size-6 {
  margin-top: 0px;
}
div .granularities-max-size-6.horizontal li .granularity-size-0 {
  margin-top: 62.5px;
}
div .granularities-max-size-6.horizontal li .granularity-size-7 {
  margin-top: -12.5px;
}
div .granularities-max-size-6.horizontal li .granularity-size-0 {
  margin-top: 62.5px;
}
div .granularities-max-size-6.horizontal li .granularity-size-8 {
  margin-top: -25px;
}
div .granularities-max-size-6.horizontal li .granularity-size-0 {
  margin-top: 62.5px;
}
div .granularities-max-size-6.horizontal li .granularity-size-9 {
  margin-top: -37.5px;
}
div .granularities-max-size-6.horizontal li .granularity-size-0 {
  margin-top: 62.5px;
}
div .granularities-max-size-6.horizontal li .granularity-size-10 {
  margin-top: -50px;
}
div .granularities-max-size-6.horizontal li .granularity-size-0 {
  margin-top: 62.5px;
}
div .granularity-size-6 {
  position: relative;
  width: 150px;
  height: 150px;
  border-top-right-radius: 150px;
  border-top-left-radius: 150px;
  border-bottom-right-radius: 150px;
  border-bottom-left-radius: 150px;
}
div .granularity-size-6 .granularity-elements {
  top: 65px;
}
div .granularity-title-intent-6 {
  top: 65px;
}
div .horizontal .granularity-title-intent-6 {
  width: 150px;
  top: 152.5px;
}
div .granularities-max-size-7.vertical .granularity-line {
  left: 85.5px;
}
div .granularities-max-size-7.vertical .granularity-container {
  width: 175px;
}
div .granularities-max-size-7.vertical .granularity-title {
  right: -195px;
}
div .granularities-max-size-7.horizontal .granularity-line {
  top: 85.5px;
}
div .granularities-max-size-7.horizontal .granularity-container {
  margin-right: 10px;
}
div .granularities-max-size-7.horizontal .granularity-title {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
div .granularities-max-size-7.horizontal.granularities {
  height: 280px;
}
div .granularities-max-size-7.horizontal li .granularity-size-1 {
  margin-top: 75px;
}
div .granularities-max-size-7.horizontal li .granularity-size-0 {
  margin-top: 75px;
}
div .granularities-max-size-7.horizontal li .granularity-size-2 {
  margin-top: 62.5px;
}
div .granularities-max-size-7.horizontal li .granularity-size-0 {
  margin-top: 75px;
}
div .granularities-max-size-7.horizontal li .granularity-size-3 {
  margin-top: 50px;
}
div .granularities-max-size-7.horizontal li .granularity-size-0 {
  margin-top: 75px;
}
div .granularities-max-size-7.horizontal li .granularity-size-4 {
  margin-top: 37.5px;
}
div .granularities-max-size-7.horizontal li .granularity-size-0 {
  margin-top: 75px;
}
div .granularities-max-size-7.horizontal li .granularity-size-5 {
  margin-top: 25px;
}
div .granularities-max-size-7.horizontal li .granularity-size-0 {
  margin-top: 75px;
}
div .granularities-max-size-7.horizontal li .granularity-size-6 {
  margin-top: 12.5px;
}
div .granularities-max-size-7.horizontal li .granularity-size-0 {
  margin-top: 75px;
}
div .granularities-max-size-7.horizontal li .granularity-size-7 {
  margin-top: 0px;
}
div .granularities-max-size-7.horizontal li .granularity-size-0 {
  margin-top: 75px;
}
div .granularities-max-size-7.horizontal li .granularity-size-8 {
  margin-top: -12.5px;
}
div .granularities-max-size-7.horizontal li .granularity-size-0 {
  margin-top: 75px;
}
div .granularities-max-size-7.horizontal li .granularity-size-9 {
  margin-top: -25px;
}
div .granularities-max-size-7.horizontal li .granularity-size-0 {
  margin-top: 75px;
}
div .granularities-max-size-7.horizontal li .granularity-size-10 {
  margin-top: -37.5px;
}
div .granularities-max-size-7.horizontal li .granularity-size-0 {
  margin-top: 75px;
}
div .granularity-size-7 {
  position: relative;
  width: 175px;
  height: 175px;
  border-top-right-radius: 175px;
  border-top-left-radius: 175px;
  border-bottom-right-radius: 175px;
  border-bottom-left-radius: 175px;
}
div .granularity-size-7 .granularity-elements {
  top: 77px;
}
div .granularity-title-intent-7 {
  top: 77.5px;
}
div .horizontal .granularity-title-intent-7 {
  width: 175px;
  top: 165px;
}
div .granularities-max-size-8.vertical .granularity-line {
  left: 98px;
}
div .granularities-max-size-8.vertical .granularity-container {
  width: 200px;
}
div .granularities-max-size-8.vertical .granularity-title {
  right: -220px;
}
div .granularities-max-size-8.horizontal .granularity-line {
  top: 98px;
}
div .granularities-max-size-8.horizontal .granularity-container {
  margin-right: 10px;
}
div .granularities-max-size-8.horizontal .granularity-title {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
div .granularities-max-size-8.horizontal.granularities {
  height: 305px;
}
div .granularities-max-size-8.horizontal li .granularity-size-1 {
  margin-top: 87.5px;
}
div .granularities-max-size-8.horizontal li .granularity-size-0 {
  margin-top: 87.5px;
}
div .granularities-max-size-8.horizontal li .granularity-size-2 {
  margin-top: 75px;
}
div .granularities-max-size-8.horizontal li .granularity-size-0 {
  margin-top: 87.5px;
}
div .granularities-max-size-8.horizontal li .granularity-size-3 {
  margin-top: 62.5px;
}
div .granularities-max-size-8.horizontal li .granularity-size-0 {
  margin-top: 87.5px;
}
div .granularities-max-size-8.horizontal li .granularity-size-4 {
  margin-top: 50px;
}
div .granularities-max-size-8.horizontal li .granularity-size-0 {
  margin-top: 87.5px;
}
div .granularities-max-size-8.horizontal li .granularity-size-5 {
  margin-top: 37.5px;
}
div .granularities-max-size-8.horizontal li .granularity-size-0 {
  margin-top: 87.5px;
}
div .granularities-max-size-8.horizontal li .granularity-size-6 {
  margin-top: 25px;
}
div .granularities-max-size-8.horizontal li .granularity-size-0 {
  margin-top: 87.5px;
}
div .granularities-max-size-8.horizontal li .granularity-size-7 {
  margin-top: 12.5px;
}
div .granularities-max-size-8.horizontal li .granularity-size-0 {
  margin-top: 87.5px;
}
div .granularities-max-size-8.horizontal li .granularity-size-8 {
  margin-top: 0px;
}
div .granularities-max-size-8.horizontal li .granularity-size-0 {
  margin-top: 87.5px;
}
div .granularities-max-size-8.horizontal li .granularity-size-9 {
  margin-top: -12.5px;
}
div .granularities-max-size-8.horizontal li .granularity-size-0 {
  margin-top: 87.5px;
}
div .granularities-max-size-8.horizontal li .granularity-size-10 {
  margin-top: -25px;
}
div .granularities-max-size-8.horizontal li .granularity-size-0 {
  margin-top: 87.5px;
}
div .granularity-size-8 {
  position: relative;
  width: 200px;
  height: 200px;
  border-top-right-radius: 200px;
  border-top-left-radius: 200px;
  border-bottom-right-radius: 200px;
  border-bottom-left-radius: 200px;
}
div .granularity-size-8 .granularity-elements {
  top: 90px;
}
div .granularity-title-intent-8 {
  top: 90px;
}
div .horizontal .granularity-title-intent-8 {
  width: 200px;
  top: 177.5px;
}
div .granularities-max-size-9.vertical .granularity-line {
  left: 110.5px;
}
div .granularities-max-size-9.vertical .granularity-container {
  width: 225px;
}
div .granularities-max-size-9.vertical .granularity-title {
  right: -245px;
}
div .granularities-max-size-9.horizontal .granularity-line {
  top: 110.5px;
}
div .granularities-max-size-9.horizontal .granularity-container {
  margin-right: 10px;
}
div .granularities-max-size-9.horizontal .granularity-title {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
div .granularities-max-size-9.horizontal.granularities {
  height: 330px;
}
div .granularities-max-size-9.horizontal li .granularity-size-1 {
  margin-top: 100px;
}
div .granularities-max-size-9.horizontal li .granularity-size-0 {
  margin-top: 100px;
}
div .granularities-max-size-9.horizontal li .granularity-size-2 {
  margin-top: 87.5px;
}
div .granularities-max-size-9.horizontal li .granularity-size-0 {
  margin-top: 100px;
}
div .granularities-max-size-9.horizontal li .granularity-size-3 {
  margin-top: 75px;
}
div .granularities-max-size-9.horizontal li .granularity-size-0 {
  margin-top: 100px;
}
div .granularities-max-size-9.horizontal li .granularity-size-4 {
  margin-top: 62.5px;
}
div .granularities-max-size-9.horizontal li .granularity-size-0 {
  margin-top: 100px;
}
div .granularities-max-size-9.horizontal li .granularity-size-5 {
  margin-top: 50px;
}
div .granularities-max-size-9.horizontal li .granularity-size-0 {
  margin-top: 100px;
}
div .granularities-max-size-9.horizontal li .granularity-size-6 {
  margin-top: 37.5px;
}
div .granularities-max-size-9.horizontal li .granularity-size-0 {
  margin-top: 100px;
}
div .granularities-max-size-9.horizontal li .granularity-size-7 {
  margin-top: 25px;
}
div .granularities-max-size-9.horizontal li .granularity-size-0 {
  margin-top: 100px;
}
div .granularities-max-size-9.horizontal li .granularity-size-8 {
  margin-top: 12.5px;
}
div .granularities-max-size-9.horizontal li .granularity-size-0 {
  margin-top: 100px;
}
div .granularities-max-size-9.horizontal li .granularity-size-9 {
  margin-top: 0px;
}
div .granularities-max-size-9.horizontal li .granularity-size-0 {
  margin-top: 100px;
}
div .granularities-max-size-9.horizontal li .granularity-size-10 {
  margin-top: -12.5px;
}
div .granularities-max-size-9.horizontal li .granularity-size-0 {
  margin-top: 100px;
}
div .granularity-size-9 {
  position: relative;
  width: 225px;
  height: 225px;
  border-top-right-radius: 225px;
  border-top-left-radius: 225px;
  border-bottom-right-radius: 225px;
  border-bottom-left-radius: 225px;
}
div .granularity-size-9 .granularity-elements {
  top: 102px;
}
div .granularity-title-intent-9 {
  top: 102.5px;
}
div .horizontal .granularity-title-intent-9 {
  width: 225px;
  top: 190px;
}
div .granularities-max-size-10.vertical .granularity-line {
  left: 123px;
}
div .granularities-max-size-10.vertical .granularity-container {
  width: 250px;
}
div .granularities-max-size-10.vertical .granularity-title {
  right: -270px;
}
div .granularities-max-size-10.horizontal .granularity-line {
  top: 123px;
}
div .granularities-max-size-10.horizontal .granularity-container {
  margin-right: 10px;
}
div .granularities-max-size-10.horizontal .granularity-title {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
div .granularities-max-size-10.horizontal.granularities {
  height: 355px;
}
div .granularities-max-size-10.horizontal li .granularity-size-1 {
  margin-top: 112.5px;
}
div .granularities-max-size-10.horizontal li .granularity-size-0 {
  margin-top: 112.5px;
}
div .granularities-max-size-10.horizontal li .granularity-size-2 {
  margin-top: 100px;
}
div .granularities-max-size-10.horizontal li .granularity-size-0 {
  margin-top: 112.5px;
}
div .granularities-max-size-10.horizontal li .granularity-size-3 {
  margin-top: 87.5px;
}
div .granularities-max-size-10.horizontal li .granularity-size-0 {
  margin-top: 112.5px;
}
div .granularities-max-size-10.horizontal li .granularity-size-4 {
  margin-top: 75px;
}
div .granularities-max-size-10.horizontal li .granularity-size-0 {
  margin-top: 112.5px;
}
div .granularities-max-size-10.horizontal li .granularity-size-5 {
  margin-top: 62.5px;
}
div .granularities-max-size-10.horizontal li .granularity-size-0 {
  margin-top: 112.5px;
}
div .granularities-max-size-10.horizontal li .granularity-size-6 {
  margin-top: 50px;
}
div .granularities-max-size-10.horizontal li .granularity-size-0 {
  margin-top: 112.5px;
}
div .granularities-max-size-10.horizontal li .granularity-size-7 {
  margin-top: 37.5px;
}
div .granularities-max-size-10.horizontal li .granularity-size-0 {
  margin-top: 112.5px;
}
div .granularities-max-size-10.horizontal li .granularity-size-8 {
  margin-top: 25px;
}
div .granularities-max-size-10.horizontal li .granularity-size-0 {
  margin-top: 112.5px;
}
div .granularities-max-size-10.horizontal li .granularity-size-9 {
  margin-top: 12.5px;
}
div .granularities-max-size-10.horizontal li .granularity-size-0 {
  margin-top: 112.5px;
}
div .granularities-max-size-10.horizontal li .granularity-size-10 {
  margin-top: 0px;
}
div .granularities-max-size-10.horizontal li .granularity-size-0 {
  margin-top: 112.5px;
}
div .granularity-size-10 {
  position: relative;
  width: 250px;
  height: 250px;
  border-top-right-radius: 250px;
  border-top-left-radius: 250px;
  border-bottom-right-radius: 250px;
  border-bottom-left-radius: 250px;
}
div .granularity-size-10 .granularity-elements {
  top: 115px;
}
div .granularity-title-intent-10 {
  top: 115px;
}
div .horizontal .granularity-title-intent-10 {
  width: 250px;
  top: 202.5px;
}
.granularity-title-intent-0 {
  top: 2.5px;
}
.horizontal .granularity-title-intent-0 {
  width: 25px;
  top: 90px;
}
.granularity-size-0 {
  position: relative;
  width: 25px;
  height: 25px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
.no-column-count {
  -moz-column-count: auto;
  -moz-column-gap: 0px;
  -webkit-column-count: auto;
  -webkit-column-gap: 0px;
  column-count: auto;
  column-gap: 0px;
}
/* Icon Font */
@font-face {
  font-family: 'icon_font';
  src: url('assets/font/icon_font.eot?bg2l24');
  src: url('assets/font/icon_font.eot?#iefixbg2l24') format('embedded-opentype'), url('assets/font/icon_font.woff?bg2l24') format('woff'), url('assets/font/icon_font.ttf?bg2l24') format('truetype'), url('assets/font/icon_font.svg?bg2l24#icon_font') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icon_font';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  /* to enhance the blurring icons */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-arbeit:before {
  content: "\e600";
}
.icon-bildung:before {
  content: "\e601";
}
.icon-demographie:before {
  content: "\e602";
}
.icon-erholung:before {
  content: "\e603";
}
.icon-geo:before {
  content: "\e604";
}
.icon-gesundheit:before {
  content: "\e605";
}
.icon-jugend:before {
  content: "\e606";
}
.icon-kultur:before {
  content: "\e607";
}
.icon-protokolle:before {
  content: "\e608";
}
.icon-sicherheit:before {
  content: "\e609";
}
.icon-sozial:before {
  content: "\e60b";
}
.icon-tourismus:before {
  content: "\e60c";
}
.icon-verentsorgung:before {
  content: "\e610";
}
.icon-verkehr:before {
  content: "\e611";
}
.icon-verwaltung:before {
  content: "\e612";
}
.icon-wahl:before {
  content: "\e613";
}
.icon-wirtschaft:before {
  content: "\e614";
}
.icon-wohnen:before {
  content: "\e615";
}
.icon-sonstiges:before {
  content: "\e60a";
}
.icon-oeffentlich:before {
  content: "\e60a";
}
.icon-transport_und_verkehr:before {
  content: "\e60d";
}
.icon-umwelt_und_klima:before {
  content: "\e60e";
}
.icon-verbraucherschutz:before {
  content: "\e60f";
}
.icon-arrow-down:before {
  content: "\e617";
}
.icon-arrow-up:before {
  content: "\e618";
}
ul.category_matrix li {
  padding-bottom: 1em;
}
.category_icon.initial {
  color: #1f77b4 !important;
}
.category_icon.initial:hover {
  color: #5ca25a !important;
}
ul.category_matrix .category_icon {
  font-size: 2em;
  color: #7f7f7f;
}
ul.category_matrix li:hover .category_icon {
  color: #99cc00;
  cursor: pointer;
}
ul.category_matrix .category_icon.active {
  color: #1f77b4 !important;
}
ul.category_matrix .category_icon.active:hover {
  color: #5ca25a !important;
}
body .columns-1 ul.category_matrix {
  width: 55px;
  -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;
  padding: 0;
}
body .columns-1.category_text {
  width: 55px;
  min-height: 6em;
}
body .columns-2 ul.category_matrix {
  width: 110px;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  padding: 0;
}
body .columns-2.category_text {
  width: 110px;
  min-height: 6em;
}
body .columns-3 ul.category_matrix {
  width: 165px;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  padding: 0;
}
body .columns-3.category_text {
  width: 165px;
  min-height: 3em;
}
body .columns-4 ul.category_matrix {
  width: 220px;
  -moz-column-count: 4;
  -webkit-column-count: 4;
  column-count: 4;
  padding: 0;
}
body .columns-4.category_text {
  width: 220px;
  min-height: 3em;
}
body .columns-5 ul.category_matrix {
  width: 275px;
  -moz-column-count: 5;
  -webkit-column-count: 5;
  column-count: 5;
  padding: 0;
}
body .columns-5.category_text {
  width: 275px;
  min-height: 3em;
}
body .columns-6 ul.category_matrix {
  width: 330px;
  -moz-column-count: 6;
  -webkit-column-count: 6;
  column-count: 6;
  padding: 0;
}
body .columns-6.category_text {
  width: 330px;
  min-height: 1.5em;
}
body .columns-7 ul.category_matrix {
  width: 385px;
  -moz-column-count: 7;
  -webkit-column-count: 7;
  column-count: 7;
  padding: 0;
}
body .columns-7.category_text {
  width: 385px;
  min-height: 1.5em;
}
body .columns-8 ul.category_matrix {
  width: 440px;
  -moz-column-count: 8;
  -webkit-column-count: 8;
  column-count: 8;
  padding: 0;
}
body .columns-8.category_text {
  width: 440px;
  min-height: 1.5em;
}
body .columns-9 ul.category_matrix {
  width: 495px;
  -moz-column-count: 9;
  -webkit-column-count: 9;
  column-count: 9;
  padding: 0;
}
body .columns-9.category_text {
  width: 495px;
  min-height: 1.5em;
}
body .columns-10 ul.category_matrix {
  width: 550px;
  -moz-column-count: 10;
  -webkit-column-count: 10;
  column-count: 10;
  padding: 0;
}
body .columns-10.category_text {
  width: 550px;
  min-height: 1.5em;
}
body .columns-11 ul.category_matrix {
  width: 605px;
  -moz-column-count: 11;
  -webkit-column-count: 11;
  column-count: 11;
  padding: 0;
}
body .columns-11.category_text {
  width: 605px;
  min-height: 1.5em;
}
body .columns-12 ul.category_matrix {
  width: 660px;
  -moz-column-count: 12;
  -webkit-column-count: 12;
  column-count: 12;
  padding: 0;
}
body .columns-12.category_text {
  width: 660px;
  min-height: 1.5em;
}
body .columns-13 ul.category_matrix {
  width: 715px;
  -moz-column-count: 13;
  -webkit-column-count: 13;
  column-count: 13;
  padding: 0;
}
body .columns-13.category_text {
  width: 715px;
  min-height: 1.5em;
}
body .columns-14 ul.category_matrix {
  width: 770px;
  -moz-column-count: 14;
  -webkit-column-count: 14;
  column-count: 14;
  padding: 0;
}
body .columns-14.category_text {
  width: 770px;
  min-height: 1.5em;
}
body .columns-15 ul.category_matrix {
  width: 825px;
  -moz-column-count: 15;
  -webkit-column-count: 15;
  column-count: 15;
  padding: 0;
}
body .columns-15.category_text {
  width: 825px;
  min-height: 1.5em;
}
body .columns-16 ul.category_matrix {
  width: 880px;
  -moz-column-count: 16;
  -webkit-column-count: 16;
  column-count: 16;
  padding: 0;
}
body .columns-16.category_text {
  width: 880px;
  min-height: 1.5em;
}
body .columns-17 ul.category_matrix {
  width: 935px;
  -moz-column-count: 17;
  -webkit-column-count: 17;
  column-count: 17;
  padding: 0;
}
body .columns-17.category_text {
  width: 935px;
  min-height: 1.5em;
}
body .columns-18 ul.category_matrix {
  width: 990px;
  -moz-column-count: 18;
  -webkit-column-count: 18;
  column-count: 18;
  padding: 0;
}
body .columns-18.category_text {
  width: 990px;
  min-height: 1.5em;
}
body .columns-19 ul.category_matrix {
  width: 1045px;
  -moz-column-count: 19;
  -webkit-column-count: 19;
  column-count: 19;
  padding: 0;
}
body .columns-19.category_text {
  width: 1045px;
  min-height: 1.5em;
}
body .columns-20 ul.category_matrix {
  width: 1100px;
  -moz-column-count: 20;
  -webkit-column-count: 20;
  column-count: 20;
  padding: 0;
}
body .columns-20.category_text {
  width: 1100px;
  min-height: 1.5em;
}
body .columns-21 ul.category_matrix {
  width: 1155px;
  -moz-column-count: 21;
  -webkit-column-count: 21;
  column-count: 21;
  padding: 0;
}
body .columns-21.category_text {
  width: 1155px;
  min-height: 1.5em;
}
body .columns-22 ul.category_matrix {
  width: 1210px;
  -moz-column-count: 22;
  -webkit-column-count: 22;
  column-count: 22;
  padding: 0;
}
body .columns-22.category_text {
  width: 1210px;
  min-height: 1.5em;
}
body .columns-23 ul.category_matrix {
  width: 1265px;
  -moz-column-count: 23;
  -webkit-column-count: 23;
  column-count: 23;
  padding: 0;
}
body .columns-23.category_text {
  width: 1265px;
  min-height: 1.5em;
}
body .columns-24 ul.category_matrix {
  width: 1320px;
  -moz-column-count: 24;
  -webkit-column-count: 24;
  column-count: 24;
  padding: 0;
}
body .columns-24.category_text {
  width: 1320px;
  min-height: 1.5em;
}
#time-zoom-chart.dc-chart .axis.y {
  opacity: 0.0;
}
#last-modification-zoom-chart.dc-chart .axis.y {
  opacity: 0.0;
}
.dc-chart > svg rect.bar.deselected {
  fill: #7f7f7f !important;
}
.dc-chart > svg rect.bar {
  fill: #1f77b4 !important;
}
#last-modification-chart .x.axis text {
  text-anchor: end !important;
  transform: rotate(-45deg);
}
.chart-reset-button {
  font-size: 75%;
  position: relative;
  left: 4px;
  cursor: pointer;
  display: block;
  visibility: hidden;
  margin-bottom: 0px;
}
/* hack to show a pointer if Brandenburg is hovered */
svg:hover {
  cursor: pointer;
}
.bezirk {
  stroke-width: 1;
  stroke: white;
  fill: #7f7f7f;
}
.bezirk:hover {
  fill: #99cc00;
}
.bezirk.selected {
  fill: #1f77b4;
}
.bezirk.selected:hover {
  fill: #608000;
}
.bezirk.initial {
  fill: #1f77b4;
}
.bezirk.initial:hover {
  fill: #5ca25a;
}
.berlin_border {
  stroke-width: 8px;
  stroke: #ffffff;
  stroke-linejoin: round;
}
.berlin_border.selected {
  stroke: #1f77b4;
}
.berlin_border.hovered {
  stroke: #99cc00;
}
.berlin_border.selected_hovered {
  stroke: #608000;
}
.berlin_border.initial {
  stroke: transparent;
}
.berlin_border.initial-hover {
  stroke: #5ca25a;
}
.center-me {
  margin: 0 auto;
}
result ul {
  list-style-type: none;
  padding: 0;
}
result .result-list li {
  vertical-align: middle;
  padding: 0.25em;
  border-color: #000000;
  border-style: solid;
}
result .result-list li {
  border-width: 1px 1px 0 1px;
}
result .result-list li:last-child {
  border-bottom-width: 1px;
}
result .category-icon {
  font-size: 2em;
  color: #1f77b4;
}
result .category-icon:hover {
  cursor: pointer;
  color: #5ca25a;
}
result .toggle-icon {
  font-size: 2em;
}
result .result-row {
  width: 100%;
}
result .result-row:before {
  display: table;
  content: " ";
}
result .result-row:after {
  display: table;
  content: " ";
  clear: both;
}
result .result-col-1 {
  width: 7em;
  float: left;
}
result .result-col-3 {
  width: 2em;
  float: right;
}
result .result-col-2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
result li .toggle-arrow:hover {
  cursor: pointer;
}
result .details {
  display: none;
}
result .details.visible {
  display: block;
}
result .details table {
  width: 100%;
}
result .details table tr {
  padding-bottom: 0.5em;
}
result .details table tr .details-category:last-child::after {
  content: '';
}
result .details table tr .details-category::after {
  content: ', ';
}
result .details table tr td:first-child {
  width: 15em;
  font-weight: bold;
  text-align: right;
  vertical-align: top;
  padding-right: 1em;
}
.row .widget-container {
  padding-left: 15px;
}
.widget-container {
  background: rgba(250, 250, 210, 0.3);
  border: 1px dashed crimson;
}
