@import "../variables.less";
@import "../mixins.less";

#berlinMap {
  width: 100%;
  float: left;
  display: block;
}

#berlinBox {
  display: block;
  float: left;
  margin-top: 100px;
  margin-right: 200px;
  margin-left: 100px;
}

.bezirk {
  stroke-width: 1;
  stroke: white;
  fill: @primary-color;
  -webkit-transition: stroke 0.01s, stroke-width 0.01s; /* Choice Animation */
  -o-transition: stroke 0.01s, stroke-width 0.01s;
  transition: stroke 0.01s, stroke-width 0.01s;

  &:hover {
    cursor: pointer;
    fill: @primary-color-hover;
  }
  &.selected { fill: @secondary-color; }
  &.selected:hover { fill: @secondary-color-hover; }

}

.berlin_border_standard {
  stroke-width: 2;
  stroke: @background-color;
  stroke-linejoin: round;
}

.berlin_border_hover {
  stroke-width: 13px;
  stroke: @background-color;
  stroke-linejoin: round;
}

/* style="stroke-width: 8px;stroke: black;stroke-linejoin: round;fill:transparent" */
