#mapChart {
    visibility: hidden;
    border: 0px solid #000;
    font-size:14px;
    font-family: Verdana;
    padding: 5px;
    font-weight: bold;
    border-radius: 11%;
    clear:both;
}

#berlinMap {
    width: 45%;
    float: left;
    display: block;

}

#textPosition {
    font-family: Verdana;
    position: relative;
    right: 16%;
    padding-top: 10px;
    visibility: hidden;
}

#berlinBox {

    display: block;
    float: left;
    margin-top: 100px;
    margin-right: 200px;
    margin-left: 100px;
}

svg .bezirk {
    stroke-width: 2;
    stroke: #fff;

    -webkit-transition: stroke 0.01s, stroke-width 0.01s; /* Choice Animation */
    -o-transition: stroke 0.01s, stroke-width 0.01s;
    transition: stroke 0.01s, stroke-width 0.01s;
}

/*
@base-color: #000;
@background-color: #fff;
@primary-color: #000;
@secondary-color: #7f99b2;
@primary-color-hover: #99CC00;
@secondary-color-hover: #608000;
*/

.standard {
    fill: blue; /* primary color */
}

.hover {
    cursor: pointer;
    stroke-width: 4;
    stroke: #000;
    fill: #99CC00 /* primary hover */
}

.selected {
    fill: #7f99b2 /* secondary */
}

.selected_hover {
    cursor: pointer;
    stroke-width: 4;
    stroke: #000;
    fill: #608000 /* secondary hover */
}


