<div class="columns-{{numberOfColumns}}">
    <span style="display:inline-block; height: 10px;"><a href="#" ng-click="reset()" ng-show="selected_categories.values().length > 0">reset</a></span>
    <ul class="category_matrix">
    <!-- to show the category name , when the mouse comes over the category icon,and hide it otherwise-->
        <li ng-repeat="(key,value) in category_mapping"
            ng-mouseover="$parent.hovered_category=key"
            ng-mouseleave="$parent.hovered_category='none'">
            <!--to save the clicked icon as selected category -->
            <span class="category_icon icon-{{key}}" title="{{value}}"
                  ng-click="toggle(key)"
                  ng-class="{'active': selected_categories.contains(key)}"></span>
        </li>
    </ul>
</div>
<!--to show the name and size of the selected category under the Grid -->
<div class="category_text columns-{{numberOfColumns}}" ng-switch on="hovered_category">
    <span ng-switch-default>{{category_mapping[hovered_category]}} ({{categories[hovered_category].size}})</span>
    <span ng-switch-when="none">&nbsp;</span>
</div>
