@import "../variables.less";
@import "../mixins.less";
@import "../icons.less";

category li {
  padding-bottom: 1em;
  list-style: none;

  &:hover{cursor:pointer;}

  &:hover span{
    color:@category-icon-hover !important;
  }
}



category .category_icon.smaller{
//  background:hotpink !important;
  font-size: 1.5em !important;
}

category .category_title.smaller{
  left:55px;
}


category .category_icon{
  font-size: 2em;
  color: @category-icon;

  top: 1px;
  position: relative;

  &:hover{
    cursor: pointer;
  }

  &.initial{
    color: @category-initial !important;
    &:hover{
      color: @category-icon-selected-hover !important;
    }
  }

  &.active{
    color: @category-icon-selected !important;
    &:hover {
      color: @category-icon-selected-hover !important;
    }
  }

  &.empty{
    color: lighten(@category-icon,35%) !important;
    &:hover {
      color: lighten(@category-icon,35%) !important;
      cursor: default;
    }
  }
}

category li div.empty{
  color: lighten(@category-icon,35%) !important;
}

body .columns-1 ul.category_matrix {
  width: 100% !important;
  .category_text-mixin(1);
}

category .category_title{
  display:inline-block;
  line-height: 1.75em;
  vertical-align: middle;
  position:absolute;
  left:65px;
  padding-right:10px;

  &.dirtyHack{
    line-height: normal;
    margin-top: -2px;
  }
}


.for-category-text(@i: 1) when (@i < 25) {
  .columns-@{i} {
    ul.category_matrix {
      width: @i * 55px;
      .column-mixin(@i);
    }
  }
  .columns-@{i}.category_text {
    width: @i * 55px;
    .category_text-mixin(@i);
  }
  .for-category-text(@i + 1);
}

body {
  .for-category-text(1);
}

