@import "../variables.less";
@import "../mixins.less";
@import "../icons.less";

.columns-1 {
  width: 42px;
  ul.category_matrix {
    .column-mixin(1);
  }
}

.columns-2 {
  width: 84px;
  ul.category_matrix {
    .column-mixin(2);
  }
}

.columns-3 {
  width: 126px;
  ul.category_matrix {
    .column-mixin(3);
  }
}

.columns-4 {
  width: 168px;
  ul.category_matrix {
    .column-mixin(4);
  }
}

.columns-5 {
  width: 210px;
  ul.category_matrix {
    .column-mixin(5);
  }
}

.columns-6 {
  width: 252px;
  ul.category_matrix {
    .column-mixin(6);
  }
}
ul.category_matrix li {
  padding-bottom: 1em;
}

ul.category_matrix .category_icon {
  font-size: 2em;
}

ul.category_matrix li:hover .category_icon {
  color: @primary-color-hover;
  cursor: pointer;
}

ul.category_matrix .category_icon.active {
  color: @secondary-color !important;
}

ul.category_matrix .category_icon.active:hover {
  color: @secondary-color-hover !important;
}

